body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #DDD;
    background-color: #222;
}
h1 { 
    text-align: center;
}
input {
    background-color: #EEE;
}
input#output {
    width: fit-content;
}

section {
    height: 50vh;
    display: grid;
    place-items: center;
}